.home
  .home__wrapper
    .home__gallery
      .home__gallery__wrapper 
          each media, index in prismic.home.gallery
            a.home__gallery_link(data-index=index href=media.href=media.uid)
              figure.home__gallery__media(data-index=index)
                img.home__gallery__media__image(src=media.image alt=media.image.alt)

              h2.home__gallery-title=media.title
  
    .home__footer
      a.home__link(href='#')=prismic.home.data.link